@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
}

.Home {
  position: relative;
  background-image: url("../assets/images/woodbackground.jpg");
  background-repeat: repeat;
  background-size: contain;
  margin: 1%;
  padding: 1%;
  border-radius: 3%;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}